@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Rubik', sans-serif;
}

.header{
    height: 80vh;
}
.navbar {
    display: inline-block;
    background-color: orangered;
}

.navbar-brand{
    letter-spacing: 1px;
}
.img-logo{
    border: 1px solid orangered;
    border-radius: 20px;
    height: 30px;
}
.navbar .nav-link {
   font-weight: 600;
   transition: all;
   transition-duration: 300ms;
   border: 1px solid transparent;
}
.navbar .nav-link:hover{
    border-bottom: 1px solid #fff;
    color:#fff;
    border-radius: 5px;
   
}
.navbar-toggler {
    border: 1px solid white;
}

.jumbotron {
    background-image: url(img/jar.jpg);
    background-size: cover;
    height: 500px;
    filter: brightness(85%);
    display: flex;
}
.description {
    margin: auto;
    justify-content: center;
    text-align: center;
}
.description strong {
    color: white;
    font-size: 28px;
    padding: 20px;
    border-bottom: 1px solid orangered;
}
.jumbotron .display-4 {
    margin: auto;
    color: rgb(224, 101, 0);
    font-size: 40px;
    font-weight: 700;
}


.row {
    margin: 0px;
    padding: 0px;
}
.jumbotron h1 {
    color: rgb(255, 255, 255);
    font-weight: 800;
}
.jumbotron p {
    color: rgb(255, 255, 255);
}
.cardbody {
    background-color: whitesmoke;
    padding: 15px 10px;
    margin-top: 10px;
    border: 1px solid none;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.664);
}
.cardbody:hover {
    cursor: pointer;
    box-shadow: 1px 10px 7px rgba(0, 0, 0, 0.664);
}

.img-galery {
    border: 1px solid none;
    border-radius: 5px; 
    overflow: hidden;
}
img {
    transition: all 600ms ease-in-out;
}
.image:hover {
    transform: scale(1.15);
    cursor: pointer;
}
.mid {
    transform: scale(1.0);
    border: 1px solid transparent;
}
.service-desc {
    color: rgb(0, 0, 0);
}
.rrr {
    text-align: justify;
}
button {
    padding: 12px;
    background-color: orangered;
    color: white;
}
.klik {
    border: none;
    border-radius: 20px;
}

input {
    border: 1px solid red;
    background-color: red;
}

.form-group {
    padding: 3px;
}
.form-group .form-control {
    border: 1px solid rgba(0, 0, 0, 0.329);
}


.partners {
    margin-bottom: 10rem;
}
.contactme{
    margin-bottom: 4rem;
}
.kirim {
    padding: 10px 17px;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 6px;

}

@media screen and (max-width:480px) {

    * {
        font-size: 98%;
    }
    .row {
        text-align: justify;
    }
    .description strong {
        font-size: 20px;
        font-weight: 200px;
        text-align: center;
    }
    footer .footer {
        text-align: justify;
    }
    .about {
        text-align: justify;
    }
    .navbar .nav-link:hover{
        border-bottom: 1px solid none;
    }
}